In [1]:
import pandas as pd

In [2]:
race_by_tract = pd.read_csv('../data/davidson_race_by_tract/davidson_race_by_tract.csv')

In [3]:
race_by_tract.head()

,geoid,name,B02001001,"B02001001, Error",B02001002,"B02001002, Error",B02001003,"B02001003, Error",B02001004,"B02001004, Error",...,B02001006,"B02001006, Error",B02001007,"B02001007, Error",B02001008,"B02001008, Error",B02001009,"B02001009, Error",B02001010,"B02001010, Error"
0,01000US,United States,324697795,0,235377662,54551,41234642,32548,2750143,13011,...,599868,4711,16047369,97264,10763902,107388,1625998,28610,9137904,82541
1,04000US47,Tennessee,6709356,0,5205132,4583,1124473,3575,18189,1047,...,3771,491,92655,4252,147536,3695,12138,1160,135398,3482
2,05000US47037,"Davidson County, TN",687488,0,440299,1694,186295,1403,1534,404,...,412,140,16136,1796,17947,1444,1540,408,16407,1432
3,14000US47037010103,"Census Tract 101.03, Davidson, TN",2533,191,2457,201,7,10,8,14,...,0,12,0,12,45,42,0,12,45,42
4,14000US47037010104,"Census Tract 101.04, Davidson, TN",2955,279,2713,268,167,136,16,25,...,3,11,0,12,40,42,22,33,18,24